// *-------- VARIABLES --------*

// --------- colors ---------
$main-color: #170d15;
$secondary-color: #f5256b;

// --------- fonts ---------
$basic-font: 'Montserrat', sans-serif;
$logo-font: 'Pacifico', cursive;