// *-------- VARIABLES --------*

// --------- colors ---------
$main-color: #091523;
$secondary-color: #00b3aa;

// --------- fonts ---------
$basic-font: 'Montserrat', sans-serif;
$logo-font: 'Pacifico', cursive;