// *-------- VARIABLES --------*

// --------- colors ---------
$main-color: #0c0e16;
$secondary-color: #00aacf;

// --------- fonts ---------
$basic-font: 'Montserrat', sans-serif;
$logo-font: 'Pacifico', cursive;