body
{
    background-color: $main-color;
}

.button
{
    height: 3rem;
    width: 30%;
    border-radius: 1rem;
    border: 1px solid $secondary-color;
    background-color: rgba(lighten($main-color, 2%), .8);
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
    
    &:hover
    {
        background-color: $main-color;
        color: $secondary-color;
    }
}

@media (max-width: 720px)
{
    .button
    {
        width: 80%;
    }
}