.mainNav
{
    z-index: 1000;
    font-family: $basic-font;
    position: fixed;
    left: -148px;
    font-size: 1.3rem;
    font-weight: 300;
    height: 100vh;
    
    
    &:hover &__item--active
    {
        box-shadow: 3px 0px 0px 0px rgba(0,0,0,0);
    }  
      
    &__list
    {
        transition: all 0.8s ease-in-out;
        width: 200px;
        height: 100%;
        padding: 15vh 0;
        display: flex;
        flex-direction: column;
        
        &:hover
        {
            background-color: darken($main-color, 2%);
            transform: translateX(148px);
        }
    }
    
    &__item
    {
        flex: 1;
        
        &:hover
        {       
            box-shadow: 3px 0px 0px 0px $secondary-color !important;
            background: rgb(7,16,27);
            background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba($secondary-color, .3) 100%);
        }
        
        &--active
        {
            box-shadow: 3px 0px 0px 0px $secondary-color;
        }
    }

    &__link
    {
        text-decoration: none;
        color: #fff;
        padding-left: 1rem;
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }
 
    &__icon
    {
        height: 100%;
        padding: calc(5.8vh - 0.65rem) 1rem;
        font-family: "fontello";
    }
    
    &__text
    {
        padding: calc(5.8vh - 0.65rem) 0;
    }   
}


@media (max-width: 700px), (hover: none)
{
    .mainNav
    {
        transition: all 0.8s ease-in-out;
        left: -210px;
           
        &__toggler
        {
            z-index: 10000;
            position: absolute;
            top: 1.3rem;
            right: -50px;
            padding: 0.3rem;
            height: 1rem;
            width: 1.8rem;
            
            &:hover
            {
                cursor: pointer;
            }
            
            &--expanded
            {   
                margin-top: 0;
                & .mainNav__toggler-bar
                {
                    background: rgba(0,0,0,0);
                    &::after
                    {
                        margin-top: 0;
                        transform: rotate(45deg);
                    }
                    &::before
                    {
                        margin-top: 0;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        
        &__toggler-bar, &__toggler-bar::after, &__toggler-bar::before
        {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.8s ease;
            background: white;
            content: '';
            height: 0.2rem;
            width: 100%;
        }
        &__toggler-bar
        {
            margin-top: 0;
            
            &::after
            {
                margin-top: 0.6rem;
            }
            &::before
            {
                margin-top: -0.6rem;
            }
        }
        
        &__list
        {
            &:hover
            {
                transform: translateX(210px);
            }   
             &--expanded
            {
                transform: translateX(210px);
                background-color: darken($main-color, 2%);
            }
        }
    }
}


@media (max-width: 500px)
{
    .mainNav
    {
        transition: all 0.7s ease;
        &__list
        {
            width: 80vw;
            transform: translateX(-81vw);
            
            &:hover
            {
                transform: translateX(-81vw);
            }         
            
             &--expanded
            {
                transform: translateX(0px);
                background-color: darken($main-color, 2%);
                
                &:hover
                {
                    transform: translateX(0px);
                }
            }
        }
    }
}

