
.icon-music:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-money:before { content: '\e802'; } /* '' */
.icon-attach:before { content: '\e803'; } /* '' */
.icon-photo:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-mic-outline:before { content: '\e806'; } /* '' */